body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #020617, #000);
  color: white;
}

/* WRAPPER */
.game-wrapper {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HUD */
.hud {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  display: flex;
  gap: 40px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);

  box-shadow:
    0 0 25px rgba(59,130,246,0.2),
    inset 0 0 10px rgba(255,255,255,0.05);
}

.hud div {
  font-weight: 600;
  font-size: 16px;
}

/* GAME CONTAINER */
#game-container {
  width: 360px;
  height: 540px;
  margin-top: 20px;
  border-radius: 25px;
  overflow: hidden;

  box-shadow:
    0 0 50px rgba(0,0,0,0.9),
    0 0 20px rgba(59,130,246,0.3);
}

/* CANVAS FIT */
#game-container canvas {
  width: 100% !important;
  height: 100% !important;
}

/* GAME OVER */
.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.85);
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  box-shadow: 0 0 40px rgba(255,0,0,0.3);
}

.overlay h1 {
  color: #ef4444;
}

.overlay button {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}