body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: white;
}

.container {
  text-align: center;
  margin-top: 120px;
}

h1 {
  font-size: 3rem;
  color: #22c55e;
}

p {
  font-size: 1.2rem;
  color: #cbd5e1;
}
