.back-btn {
  margin: 80px 0 10px 1288px;
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid #a3ff12;
  background: black;
  color: #060802;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s ease;
}

.back-btn:hover {
  background: #79f039;
  color: #020617;
}
